
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}


header {
    background-color: #1f3c88;
    color: white;
    padding: 30px;
    text-align: center;
}


nav {
    background-color: #274c77;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}


section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    min-height: 500px; 
    flex:1

}


footer {
    background-color: #1f3c88;
    color: white;
    text-align: center;
    padding: 15px;
}
label {
  display: inline-block;
  width: 80px;          
  vertical-align: top;  
}

input, textarea {
  width: 250px;
}
